<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./../static/css/game/style.css">
	</head>
<body>
</body>
</html>



	<h1>HANGMAN</h1>
	<div ng-controller="gameController as GC">
		<h2>Welcome {{user.name}}, select level of difficulty & press any key to get started!</h2>

				<select ng-model="level" ng-change="levelSelector()">
					<option disabled selected value>-Select Difficulty-</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>


		<p id="guesses">Guesses Left: <span id="guesses-left"></span></p>

		<h2 id="word-blank"></h2>

		<p>Wrong Guesses: <span id="wrong-guesses"></span></p>

	  <p id="wins">Wins: {{user.wins}}</p>
		<p id="loss">Losses: {{user.losses}}</p>

		<div id="zero">

			<img id="one" src="../static/images/game/{{image}}">

		</div>

</div>
