<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./../static/css/game/style.css">
	</head>
<body>
</body>
</html>



	<h1>HANGMAN</h1>
	<div ng-controller="playerController">
		<h2>Welcome {{user.name}}, select level of difficulty & press any key to get started!</h2>
		<!-- <h2>{{PC.randomword}}</h2> -->

	<div id="levelSelector">
		<select>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		</select>
	</div>

	<p id="guesses">Guesses Left: <span id="guesses-left"></span></p>

	<h2 id="word-blank"></h2>

	<p>Wrong Guesses: <span id="wrong-guesses"></span></p>

  <p id="wins">Wins: {{user.wins}}</p>
	<p id="loss">Losses: {{user.losses}}</p>

	<div id="zero"></div>

</div>
