<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./../static/css/game/style.css">
	</head>
<body>
</body>
</html>

<div ng-controller="userController" id="logout">
			<a href="#/logout" ng-click='logout()'>Logout</a>
</div>

<div ng-controller="gameController as GC">
	<h3>Welcome <span id="userName">{{user.name}}</span>,</h3>
</div>

<div ng-controller="leaderboardController">
    <div class="container">
			Search Friends: <input type="text" ng-model="filter_name">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Players</th>
                    <th>Scores</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in allusers | orderBy:'-wins'| filter:filter_name ">
                    <td>{{user.name}}</td>
                    <td>{{user.wins}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
