<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./../static/css/game/style.css">
	</head>
<body>
</body>
</html>

<div ng-controller="leaderboardController">
    <header>
        <!-- <h1>Hi {{user.name}}!</h1>
        <a class='logoff' href="" ng-click='logout()'>Logout</a> -->
    </header>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Players</th>
                    <th>Scores</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in allusers | orderBy:'-wins' ">
                    <td>{{user.name}}</td>
                    <td>{{user.wins}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
