<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./../static/css/game/style.css">
	</head>
<body>
</body>
</html>

  <div ng-controller="userController">
          <h2>Welcome to HANGMAN</h2>
					<h4>Please create a User Name!</h4>
          <form id='login-form' ng-submit='login()' class="form-inline">
						<div class="form-group">
              <label for="name" class="sr-only">Name: </label>
              <input type="text" name="name" ng-model='user.name'><br>
						</div>
              <input type="submit" value="Enter" class="btn btn-default">
          </form>
          <p ng-if='errors'>{{errors.name.message}}</p>
  </div>
</div>
